{
  "ignorePatterns": [
    "src/serviceWorker.ts",
    "src/api/storyblok/storyblokApi.tsx",
    "src/api/payments/paymentsApi.tsx",
    "createPalette.d.ts",
    "createMuiTheme.d.ts"
  ],
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "no-console": "warn",

    "react/jsx-props-no-spreading": "off",
    "react-hooks/exhaustive-deps": "warn",

    "import/no-default-export": "off",
    "import/order": [
      "warn",
      {
        "groups": [["external", "builtin"]],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/!(setupTests|test/utils|*.spec.*|*.test.*).ts?x"],
      "rules": {
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/explicit-function-return-type": [
          "error",
          {
            "allowExpressions": true
          }
        ]
      }
    }
  ]
}
