@import 'src/variables';
.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.pinkGradient {
  @include gradientPink;
}
.purpleGradient {
  @include gradientPurple;
}
.blueGradient {
  @include gradientBlue;
}
