@import './app/variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, CircuralStd, CircuralStdBold,
    CircuralStdLight, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
